# General
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.pkl
*.log

# Environment
.venv/
venv/
env/
.env

# Editor
.vscode/
.idea/

# Distribution / Build
dist/
build/
*.egg-info/
models/**/*.zip
models/*.zip
models/**/*.log
models/**/*.json
models/**/*.pkl
logs/*

runs/
report

.r2.env
